<h1>
	<strong>Search Product</strong>
</h1>

<br class="Clear">

<form ng-submit="search()">
	<div class="form-group">
		<label class="control-label" for="identification"> Product
			Identification </label>
		<div class="input-group">
			<div class="input-group-addon">
				<span class="glyphicon glyphicon-search"></span>
			</div>
			<input class="form-control" id="identification" name="identification"
				type="text" ng-model="filter.id" number-only /> <span
				class="input-group-btn">
				<button class="btn btn-primary" type="submit" title="Just click to make a search of all products or by id">Search</button>
				<button class="btn btn-danger" name="clean" type="button"
					ng-click="cleanFilter()">
					<span class="glyphicon glyphicon-erase"></span>&nbsp;Clean
				</button>
			</span>
		</div>
	</div>
</form>

<div class="panel panel-primary">
	<div class="panel-heading">Result</div>
	<div class="panel-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Actions</th>
					<th>
						<button class="btn btn-danger"
								data-toggle="modal" 
								data-target="#confirmAllDelete"
								title="Delete all products"
								ng-show="products.length >= 1">
								<span class="glyphicon glyphicon-remove"></span>&nbsp;Delete All Products
						</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in products" ng-show="products.length >= 1">
					<td>{{product.id}}</td>
					<td>{{product.name}}</td>
					<td>{{product.description}}</td>
					<td>
						<button class="btn btn-success btn-sm"
								ng-click="edit(product.id)"
								title="Edit product">
								<span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
						</button>
						<button class="btn btn-warning btn-sm"
								data-toggle="modal" 
								data-target="#viewImages"
								ng-click="viewImages(product.id)"
								title="See Images">
								<span class="glyphicon glyphicon-eye-open"></span>&nbsp;Images
						</button>						
						<button class="btn btn-danger btn-sm"
								ng-click="deleteProduct(product.id)"
								title="Delete product">
								<span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
						</button>						
						<button class="btn btn-primary btn-sm"
								ng-click="loadAssociatedProducts(product)"
								title="Load associated products"
								ng-show="product.products.length >= 1">
								<span class="glyphicon glyphicon-list-alt"></span>
								&nbsp;Associated Products
						</button>
					</td>
				</tr>
				<tr ng-show="products.length < 1">
					<td colspan="3">No products were found.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="panel panel-default" ng-show="associatedProducts.products.length >= 1">
	<div class="panel-heading">	
		<h4>
			<small>Associated Products</small><br />
			Parent product: <strong>{{associatedProducts.parentProduct.name | uppercase}}</strong>
		</h4>	
	</div>
	<div class="panel-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in associatedProducts.products">
					<td>{{product.id}}</td>
					<td>{{product.name}}</td>
					<td>{{product.description}}</td>
					<td>
						<button class="btn btn-success btn-xs"
								ng-click="edit(product)"
								title="Edit product">
								<span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
						</button>
						<button class="btn btn-warning btn-xs"
								data-toggle="modal" 
								data-target="#viewImages"
								ng-click="viewImages(product.id)" 
								title="See Images">
								<span class="glyphicon glyphicon-eye-open"></span>&nbsp;Images
						</button>
						<button class="btn btn-danger btn-xs"
								ng-click="remove(product.id)"
								title="Delete product">
								<span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- Modal -->
<div id="confirmAllDelete" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
      
      	<h5>
      		<strong>Are you sure you want to delete all products?</strong>
      	</h5>
      
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="deleteAllProduct()">Confirm</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
<div id="viewImages" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Images</h4>
      </div>
      <div class="modal-body">
      
      	<table class="table table-hover">
<!-- 			<thead> -->
<!-- 				<tr> -->
<!-- 					<th>Images Loaded</th> -->
<!-- 				</tr> -->
<!-- 			</thead> -->
			<tbody>
				<tr>
					<td>
						<span ng-repeat="image in images" style="padding: 5px;" ng-show="images.length >= 1">
							<img ng-src="data:image/JPEG;base64,{{image.attachedPicture}}" height="90px" ng-click="setImagePreview(image.attachedPicture)" style="cursor: pointer;">
						</span>
						<span ng-show="images.length == 0">No images were found.</span>
					</td>
				</tr>
				<tr ng-show="images.length >= 1">
					<td align="center">
						<img ng-src="data:image/JPEG;base64,{{imagePreview}}" height="300px">
					</td>
				</tr>
			</tbody>
		</table>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>