<h1>
	<strong>Search Image</strong>
</h1>

<br class="Clear">

<form ng-submit="search()">
	<div class="form-group">
		<label class="control-label" for="identification"> Image
			Identification </label>
		<div class="input-group">
			<div class="input-group-addon">
				<span class="glyphicon glyphicon-search"></span>
			</div>
			<input class="form-control" id="identification" name="identification"
				type="text" ng-model="filter.id" number-only /> <span
				class="input-group-btn">
				<button class="btn btn-primary" type="submit" title="Just click to make a search of all images or by id">Search</button>
				<button class="btn btn-danger" name="clean" type="button"
					ng-click="cleanFilter()">
					<span class="glyphicon glyphicon-erase"></span>&nbsp;Clean
				</button>
			</span>
		</div>
	</div>
</form>

<div class="panel panel-primary">
	<div class="panel-heading">Result</div>
	<div class="panel-body">
		<table class="table table-hover">
<!-- 			<thead> -->
<!-- 				<tr> -->
<!-- 					<th>Images Loaded</th> -->
<!-- 				</tr> -->
<!-- 			</thead> -->
			<tbody>
				<tr>
					<td>
						<span ng-repeat="image in images" style="padding: 5px;" ng-show="images.length >= 1">
							<img ng-src="data:image/JPEG;base64,{{image.attachedPicture}}" 
								 height="110px" 
								 ng-click="setImagePreview(image.attachedPicture)"
								 data-toggle="modal" 
								 data-target="#openImage"
								 style="cursor: pointer;"
								 title="Click to open image">
						</span>
						<span ng-show="images.length == 0">No images were found.</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- Modal -->
<div id="openImage" class="modal fade" role="dialog">
  <div class="modal-dialog  modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Image Preview</h4>
      </div>
      <div class="modal-body">
      
      	<table class="table table-hover">
			<tbody>
				<tr>
					<td align="center">
						<img ng-src="data:image/JPEG;base64,{{imagePreview}}" height="400px">
					</td>
				</tr>
			</tbody>
		</table>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>